<!-- footer start -->
<footer>
    <!-- footer-top-area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widget-title">Thông tin khác</h3>
                        <ul class="footer-menu">
                            <li><a href="/article-blog-list">Blog</a></li>
                            <li><a href="/about-us">Về chúng tôi (About us)</a></li>
                            <li><a href="/policy">Chính sách (Policy)</a></li>
                            <li><a href="/delivery">Thông tin vận chuyển (Delivery Information)</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widget-title">Các trang bán hàng của 3CE Decor</h3>
                        <ul class="footer-menu">
                            <li><a href="https://shopee.vn/bacedecor">Shopee</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 hidden-sm">
                    <div class="footer-widget">
                        <h3 class="widget-title">Dịch vụ tại 3CE Decor</h3>
                        <ul class="footer-menu">
                            <li><a href="#">Giao hàng tận nơi</a></li>
                            <li><a href="#">Giao hàng trong nước & quốc tế</a></li>
                            <li><a href="#">Tư vấn trang trí phù hợp với không gian</a></li>
                            <li><a href="#">Thiết kế, thi công tại nhà</a></li>
                            <li><a href="#">Đại lý</a></li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
                <!-- footer-widget start -->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="footer-widget widget-contact">
                        <h3 class="widget-title">LIÊN HỆ</h3>
                        <ul class="footer-menu">
                            <li><i class="fa fa-map-marker"> </i> <strong>Địa chỉ</strong> : Tầng 3, Số 38, Hoàng Ngọc Phách, Đống Đa, Hà Nội</li>
                            <li><a href="tel: 086 8070 921"><i class="fa fa-phone"> </i> <strong>tel</strong> : 086 8070 921</a></li>
                            <li><i class="fa fa-envelope"> </i> <strong>Email</strong> : decor3ce@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <!-- footer-widget end -->
            </div>
        </div>
    </div>
    <!-- footer-top-area end -->
    <!-- footer-middle-area start -->
    <div class="footer-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="header-social-icon">
                        <a href="https://www.facebook.com/3CEDECOR" rel="nofollow" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/bacedecor/" rel="nofollow" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCqxbA-toL2i4gLscTHp2Icw" rel="nofollow" target="_blank" title="youtube channel"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="newsletter">
                        <h2 class="news-title">Newsletter</h2>
                        <div class="join-us">
                            <form action="#">
                                <input type="text" placeholder="Email" />
                                <input type="submit" value="Subscribe!" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-middle-area end -->
    <!-- footer-bootom-area start -->
    <div class="footer-bootom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="copyright">
                        <p>Copyright © 2020 <a href="http://bootexperts.com/" target="_blank">3cedecor</a> All Rights Reserved</p>
                    </div>
                </div>
                @*<div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="payment">
                        <img src="~/img/payment1.png" />
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- footer-bootom-area end -->
</footer>
<!-- footer end -->	