@model IEnumerable<DAL.Dtos.ProductDto>
<!-- logo-testimonial-area start -->
<div class="logo-testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section-heading">
                    <h3>KHÁCH HÀNG NÓI VỀ 3CE DECOR</h3>
                </div>
                <div class="home2-testimonial">
                    <div class="testimonial-home2">
                        <div class="single-testimonial">
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>
                                        Cảm ơn shop đã rất nhiệt tình và chiều khách.
                                        Tác phẩm rất tuyệt vời, chắc chắn mình sẽ là khách hàng thân thiết của shop ^^
                                    </p>
                                </div>
                                <div class="test-img">
                                    <img style="width:100px;height:90px" src="img/testimonial/VuKieuTrang.png" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Vũ Kiều Trang, 30 tuổi</span>
                                        <span class="test-title">Giáo viên Mầm non Hoa Sen</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list end -->
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>
                                        Đúng là công trình thế kỷ, làm nhìn 3D hơn chị tưởng tượng. Cảm ơn các em nhé^^
                                    </p>
                                </div>
                                <div class="test-img">
                                    <img style="width:100px;height:90px" src="img/testimonial/DoMiHanh.png" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Đỗ Mĩ Hạnh, 33 tuổi</span>
                                        <span class="test-title">Bà chủ chuỗi nhà hàng Xô Seafood</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list start -->
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>Cảm ơn các bạn đã có những sản phẩm đẹp, xịn, 
                                       made in Viet Nam cho chúng mình thỏa sức trang trí nhé.</p>
                                </div>
                                <div class="test-img">
                                    <img style="width:100px;height:90px" src="img/testimonial/TranMinhNgan.png" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Trần Minh Ngân, 33 tuổi</span>
                                        <span class="test-title">Tây Hồ, Hà Nội</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section-heading">
                    <h3>Logo brands</h3>
                </div>
                <div class="row">
                    <div class="brand-curosel-home-2">
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/1.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/2.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/3.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/4.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/3.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/4.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/1.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="img/brand/2.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logo-testimonial-area end -->