@model IEnumerable<DAL.Dtos.ProductDto>
<!-- corporate-about-area start -->
<div class="corporate-about-area">
    <div class="container">
        <div class="row">
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>CHIẾT KHẤU CAO</h4>
                        <p>Giảm ngay 10% cho đơn hàng từ 5 triệu!</p>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>HỖ TRỢ THIẾT KẾ & THI CÔNG</h4>
                        <p>Miễn phí thi công tại Hà Nội<br /> với đơn hàng từ 10 triệu.</p>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-life-bouy"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>TƯ VẤN MIỄN PHÍ 24/7</h4>
                        <p>Tư vấn cho khách hàng sản phẩm <br /> phù hợp nhất cho không gian.</p>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
        </div>
    </div>
</div>
<!-- corporate-about-area end -->	