<ul class="cardList clearfix bankList">

    <li class="bank-online-methods  ">
        <label for="vcb_ck_on">
            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
            <input type="radio" value="VCB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="vnbc_ck_on">
            <i class="DAB" title="Ngân hàng Đông Á"></i>
            <input type="radio" value="DAB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="tcb_ck_on">
            <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
            <input type="radio" value="TCB" runat="server" name="BankCode" />
        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bidv_ck_on">
            <i class="BIDV" title="Ngân hàng TMCP Đầu tư và Phát triển Việt Nam"></i>
            <input type="radio" value="BIDV" runat="server" name="BankCode" />
        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_mb_ck_on">
            <i class="MB" title="Ngân hàng Quân Đội"></i>
            <input type="radio" value="MB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="shb_ck_on">
            <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
            <input type="radio" value="SHB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_vib_ck_on">
            <i class="VIB" title="Ngân hàng Quốc tế"></i>
            <input type="radio" value="VIB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_vtb_ck_on">
            <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
            <input type="radio" value="ICB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_exb_ck_on">
            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
            <input type="radio" value="EXB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_acb_ck_on">
            <i class="ACB" title="Ngân hàng Á Châu"></i>
            <input type="radio" value="ACB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_hdb_ck_on">
            <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
            <input type="radio" value="HDB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_msb_ck_on">
            <i class="MSB" title="Ngân hàng Hàng Hải"></i>
            <input type="radio" value="MSB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_nvb_ck_on">
            <i class="NVB" title="Ngân hàng Nam Việt"></i>
            <input type="radio" value="NVB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_vab_ck_on">
            <i class="VAB" title="Ngân hàng Việt Á"></i>
            <input type="radio" value="VAB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_vpb_ck_on">
            <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
            <input type="radio" value="VPB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_scb_ck_on">
            <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
            <input type="radio" value="SCB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="ojb_ck_on">
            <i class="OJB" title="Ngân hàng Đại Dương"></i>
            <input type="radio" value="OJB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bnt_atm_pgb_ck_on">
            <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
            <input type="radio" value="PGB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bnt_atm_gpb_ck_on">
            <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
            <input type="radio" value="GPB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bnt_atm_agb_ck_on">
            <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
            <input type="radio" value="AGB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bnt_atm_sgb_ck_on">
            <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
            <input type="radio" value="SGB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="bnt_atm_nab_ck_on">
            <i class="NAB" title="Ngân hàng Nam Á"></i>
            <input type="radio" value="NAB" runat="server" name="BankCode" />

        </label>
    </li>

    <li class="bank-online-methods ">
        <label for="sml_atm_bab_ck_on">
            <i class="BAB" title="Ngân hàng Bắc Á"></i>
            <input type="radio" value="BAB" runat="server" name="BankCode" />

        </label>
    </li>

</ul>
