@using DAL.Dtos;
@using DAL.Core.Enums;
@model List<GalleryDto>
@{ 
    List<GalleryDto> column1 = ViewBag.ImageGalleryColumn1; 
    List<GalleryDto> column2 = ViewBag.ImageGalleryColumn2;
    List<GalleryDto> column3 = ViewBag.ImageGalleryColumn3;
}
<!-- banner-area start -->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                @foreach (GalleryDto item in column1)
                {
                    <div class="single-banner banner-space">
                        <a href="#">
                            <img style=@("width:" + item.Width + "px;" + "height:" + item.Height + "px;") src="@item.ImagePath" alt="" />
                        </a>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @foreach (GalleryDto item in column2)
                {
                    <div class="single-banner banner-space">
                        <a href="#">
                            <img style=@("width:" + item.Width + "px;" + "height:" + item.Height + "px;") src="@item.ImagePath" alt="" />
                        </a>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @foreach (GalleryDto item in column3)
                {
                    <div class="single-banner banner-space">
                        <a href="#">
                            <img style=@("width:" + item.Width + "px;" + "height:" + item.Height + "px;") src="@item.ImagePath" alt="" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->	