@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Một email đã gửi đến cho bạn, bạn cần mở email để nhận link kích hoạt sau đó đặt lại mật khẩu của bạn.
    Vui lòng <a href="https://mail.google.com" rel="nofollow">nhấn vào đây</a> để chuyển sang gmail của bạn.
</p>