@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DAL.Core.Model

@model ResetPasswordInputModel
@{
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/login/login.css">
    <link rel="stylesheet" type="text/css" href="~/css/login/util.css">
}

<div class="cart-main-area">
    <div class="container">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                    <form class="login100-form validate-form flex-sb flex-w"
                          method="post" asp-action="ResetPassword" asp-controller="ApplicationUsers">
                        <div class="login100-form-title p-b-53">
                            Reset mật khẩu
                        </div>

                        <input type="hidden" asp-for="UserId" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />

                        <label asp-for="NewPassword" class="txt1"></label>
                        <div class="form-group w-100 validate-input">
                            <input asp-for="NewPassword" class="form-control input100" type="password" name="NewPassword">
                            <span asp-validation-for="NewPassword" class="text-validate text-danger focus-input100"></span>
                        </div>

                        <label asp-for="ConfirmNewPassword" class="txt1"></label>
                        <div class="form-group w-100 validate-input">
                            <input asp-for="ConfirmNewPassword" class="form-control input100" type="password" name="ConfirmNewPassword">
                            <span asp-validation-for="ConfirmNewPassword" class="text-validate text-danger focus-input100"></span>
                        </div>
                        @if (string.IsNullOrEmpty((string)ViewBag.ErrorMessage))
                        {
                            <div><span class="text-danger">@ViewBag.ErrorMessage</span></div>
                        }
                        <div class="container-login100-form-btn m-t-17">
                            <button type="submit" class="login100-form-btn">
                                Gửi email xác nhận
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>