
@{
    Layout = "_Layout";
}
<!-- error-page-area start -->
<div class="error-page-area">
    <div class="container">
        <div class="message-404">
            <h3>Ối! Trang bạn tìm kiếm đã xóa hoặc không tồn tại</h3>
            <p>Can't find what you need, take a moment and do a search below!</p>
            <a href="/">Trở về trang chủ <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
<!-- error-page-area end -->
<div class="again-search">
    <div class="container">
        <div class="again-search-form">
            <form action="#">
                <input type="text" placeholder="search....." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>